body {
    padding: 0;
    margin: 0;
    font-family: 'Poiret One', cursive;
    background: black;
}

.background-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: black;
}

.main-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.overlay-div{
	position: fixed;
	top: 50px;
	left: 50px;
	width: 400px;
	height: 200px;
	background: #2c2c2cf8;
}